<div>Select CSV file to upload:</div>
<form action="/submit" method="post" enctype="multipart/form-data">
  <input type="file" name="csv-file" id="csv-file" accept=".csv">
  <input type="submit" value="Upload CSV" name="submit">
</form>
